<!DOCTYPE html>
<!-- Viikkotehtävä 3 Perosvuo Arimo 0438125, 2018 -->
<html>
<head>
	<meta charset="utf-8"/>
</head>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- Ladataan vue (dev) -->
<script src="./javascript.js"></script> <!-- Oma skripti -->

<body>
	<h1>
		Arskan superlista
	</h1>
	<h4>
		Lisää listaan juttu painamalla nappia "Lisää juttu".<br/>
		Tallenna lista muistiin painamalla "Tallenna lista".<br/>
		Voit tyhjentää listan painamalla "Tyhjennä lista".
	</h4>
	<p>
		Huomaa, että syöte ei saa olla yli 20 merkkiä pitkä.
	</p>
	<div id="lista">
		<input v-model="uusiAlkio"/>
		<button v-on:click="addJuttu(uusiAlkio)">
			Lisää juttu
		</button>
		<button v-on:click="saveJuttu">
			Tallenna lista
		</button>
		<button v-on:click="poistaKaikki">
			Tyhjennä lista
		</button>
		<ul>
			<li v-for="(objekti, indeksi) in lista">
				<p>
					{{ objekti.alkio }}
					<button v-on:click="poistaJuttu(indeksi)">
						Poista
					</button>
				</p>
			</li>
		</ul>
	</div>
</body>
</html>